.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin-top: -15px;
}

.date_range {
  font-size: 16px;
  letter-spacing: 2px;
}

.toggle_container {
  display: flex;
  justify-content: space-between;
}

.toggle_btn {
  margin: 0 5px 0 5px;
  background: none;
  border: none;
  font-size: 13px;
  color: #5a7351
}

.toggle_btn:hover {
  transition: 200ms;
  color: var(--hover-yellow)
}

.outer {
  min-width: 500px;
}
