.log_preview {
  width: 80%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 3px;
  font-size: 14px;
  margin: 3px 0px 3px 0px;
}

.good {
  background-color: #bbddaf;
}

.mid {
  background-color: #eadaa3;
}

.bad {
  background-color: #ddb2af;
}

.None {
  background-color: #cfcfcf;
}

.detail_container {
  display: flex;
  gap: 4px;
}

p {
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.scales {
  margin-left: 10px;
  max-width: 50px;
}

.exercises {
  max-width: 80px;
}

.repertoire {
  max-width: 100px;
}

.view_btn {
  margin: 0;
  padding: 10px;
  font-family: "Material Icons";
  font-size: 16px;
  border: none;
  background: none;
  color: #617261;
}

.view_btn:hover {
  color: var(--hover-yellow);
  transition: .3s;
}
