h4 {
  margin: 0px 0px 0px 20px;
  font-size: 22px;
  text-transform: uppercase;
}

.break {
  height: 1.5px;
  width: 80%;
  background-color: var(--light-green);
  margin: 10px;
}

.details_container {
  display: flex;
  padding-bottom: 18px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weekday_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Bellota Text", cursive;
  letter-spacing: 2px;
}

.date_container {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.empty_details {
  font-size: 12px;
  margin: 0;
}