.inner {
  width: auto;
  height: auto;
  padding: 25px;
  border-radius: 20px;
  background: white;
  box-shadow: 4px 4px 4px 0px rgba(206, 206, 206, 0.5);
}

.outer {
  min-width: 350px;
  max-width: 600px;
  width: 40%;
  height: auto;
  padding: 20px 30px 30px 30px;
  border-radius: 20px;
  background: linear-gradient(180deg, #dce3d9 0%, #eee 50%, #fff 100%);
  box-shadow: 4px 4px 4px 0px rgba(206, 206, 206, 0.5);
}
