.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #677a60;
  padding: 0 50px;
  box-sizing: border-box;
}

.nav {
  display: flex;
  gap: 3rem;
  padding-right: 50px;
}

h1 {
  font-family: "Grechen Fuemen", cursive;
}

.nav_btn {
  margin: 0;
  background: none;
  border: none;
  color: white;
}

.nav_btn:hover {
  transition: .3s;
  color: var(--hover-yellow);
}
