.outer {
  min-width: 400px;
  width: 40%;
  height: auto;
  padding: 30px;
  border-radius: 20px;
  background: linear-gradient(180deg, #dce3d9 0%, #eee 50%, #fff 100%);
  box-shadow: 4px 4px 4px 0px rgba(206, 206, 206, 0.5);
}
