.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px 0 -15px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.goal_title {
  font-size: 16px;
  margin-left: 10px;
}

.goal_title:hover {
  cursor: pointer;
  color: #8b948b;
  text-decoration: line-through;
  transition: 200ms;
}

.details_container {
  /* margin-left: 10px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.date_title {
  font-size: 20px;
}

.date_description {
    font-size: 14px;
}

.date_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 65px;
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  border-radius: 5px;
  background-color: white;
  box-shadow: 4px 4px 4px 0px rgba(206, 206, 206, 0.4);
  transition: 200ms;
}

.date_container:hover {
    cursor: pointer;
    background-color: #f5e4af;
    transition: 200ms;
}

.time {
  font-family: "Bellota Text";
  font-weight: 400;
}

.addNew_container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  background: white;
  margin-bottom: 10px;
}

.delete_btn {
  margin-right: 4em;
  color: #ffffff;
  background-color: #cf5454;
  font-family: "Material Icons";
  font-size: 18px;
  padding: 8px 16px;
}

.delete_btn:hover {
  color: #ffffff;
  background-color: #812b2b;
}

.addBtn_container {
  margin-bottom: 18px;
}

.button {
  margin: 0px 0px 0px 12px;
}

.form_header {
  /* margin-left: 10px; */
  display: flex;
  align-self: left;
  font-weight: 600;
  font-size: 16px;
}

.ul {
  margin: 0;
}

.hr {
  margin: 0px 0px -10px 40px;
  width: 25%;
  background-color: #b8ceb8;
}

.form_container {
  padding: 10px;
  border: 1px solid #b8ceb8;
}

