.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px 0 -15px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.title {
    font-size: 16px;
    margin-left: 10px;
}

.title:hover {
    color: #8b948b;
    text-decoration: line-through;
}

.date {
    font-size: 15px;
    font-weight: 600;
    margin-right: 25px;
    white-space: nowrap;
}

.time {
    margin-left: 4px;
    font-family: "Bellota Text";
    font-weight: 400;
}

.addNew_container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.addNew_input {
    background: white;
}

.dateTime_container {
    display: flex;
    margin-top: 10px;
    gap: 20px;
    justify-content: center;
}

