.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px 0 -15px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.goal_title {
  font-size: 16px;
  margin-left: 10px;
}

.goal_title:hover {
  cursor: pointer;
  color: #8b948b;
  text-decoration: line-through;
  transition: .3s;
}

.details_container {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.date_title {
  font-size: 20px;
}

.date_description {
    font-size: 14px;
}

.date_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  padding: 10px;
  width: 65px;
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  border-radius: 5px;
  background-color: white;
  box-shadow: 4px 4px 4px 0px rgba(206, 206, 206, 0.4);
  transition: .3s;
}

.date_container:hover {
    cursor: pointer;
    background-color: #f5e4af;
    transition: .3s;
}

.time {
  margin-left: 4px;
  font-family: "Bellota Text";
  font-weight: 400;
}

.addNew_container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.addNew_input {
  background: white;
  margin-bottom: 10px;
}
