.title {
  font-size: 16px;
  /* margin-left: 10px; */
  max-width: 100%;
  overflow-wrap: break-word;
}

.title:hover {
  cursor: pointer;
  color: #8b948b;
  text-decoration: line-through;
  transition: 200ms;
}

.list {
  margin: 0;
  padding-inline-start: 20px;
}

.input {
  margin: 0;
  display: flex;
  align-self: center;
  background: white;
  margin-bottom: 10px;
  width: 80%;
}

.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn_container {
  width: 80%;
  display: flex;
  align-self: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.button {
  margin: 0;
}

.empty_goals {
  font-size: 14px;
}