#root {
  margin: 0 auto;
  text-align: center;
  color: var(--dark-green);
}

.container {
  display: flex;
  margin: 40px;
  gap: 40px;
  justify-content: center;
  align-items: start;
}

h3 {
  font-size: 22px;
  margin: 0px 0px 0px 25px;
  text-align: start;
}

hr {
  height: 1px;
  margin-left: 55px;
  margin-bottom: 20px;
  width: 50%;
  background-color: var(--mid-green);
  border: none;
}

input,
textarea {
  padding: 5px;
  width: auto;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #b9c5b5;
  background: #f2f2f2;
  margin-left: 10px;
}

textarea {
  min-height: 40px;
  resize: vertical;
}

button {
  margin: 15px;
  font-size: 16px;
  border-radius: 5px;
  padding: 8px 25px;
}

button:hover {
  transition: 0.3s;
  cursor: pointer;
}

ul {
  text-align: start;
  margin-left: -15px;
}

.solid-btn {
  border: none;
  background-color: #8eb680;
  color: white;
}

.solid-btn:hover {
  color: var(--hover-yellow);
  background-color: var(--mid-green);
}

.outline-btn {
  border: 1px solid #8eb680;
  color: #8eb680;
  background-color: white;
}

.outline-btn:hover {
  border-color: var(--hover-yellow);
  color: var(--hover-yellow);
}

.icon-btn {
  margin: 0;
  font-family: "Material Icons";
  font-size: 24px;
  border: none;
  background: none;
  color: var(--dark-green);
}

.icon-btn:hover {
  color: var(--hover-yellow);
}

.edit-btn {
  padding: none;
  border: none;
  background: none;
  font-size: 16px;
  margin-left: 20px;
  color: rgb(168, 182, 168);
  font-family: "Material Icons";
}

.edit-btn:hover {
  color: var(--hover-yellow);
  transition: .3s;
  cursor: pointer;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-label {
  text-align: start;
  margin: 5px;
}

.material-symbols-rounded {
  font-size: 40px;
  /* color: white; */
  top: 8px;
  left: 43px;
  position: absolute;
}

.bad {
  background-color: #d35e56;
}

.mid {
  background-color: #e3bb54;
}

.good {
  background-color: #a4d268;
}
