#root {
  margin: 0 auto;
  text-align: center;
  color: var(--dark-green);
}

.container {
  display: flex;
  margin: 40px;
  gap: 40px;
  justify-content: center;
  align-items: start;
}

h3 {
  font-size: 22px;
  margin: 0px 0px 0px 25px;
  text-align: start;
}

hr {
  height: 1px;
  margin-left: 55px;
  margin-bottom: 20px;
  width: 50%;
  background-color: var(--mid-green);
  border: none;
}

input,
textarea {
  padding: 5px;
  width: auto;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #b9c5b5;
  background: #f2f2f2;
  margin-left: 10px;
}

textarea {
  min-height: 40px;
  resize: vertical;
}

button {
  margin: 15px;
  font-size: 16px;
  border-radius: 5px;
  padding: 8px 25px;
  color: var(--dark-green);
  transition: 0200ms;
}

button:hover {
  cursor: pointer;
  transition: 0200ms;
}

ul {
  text-align: start;
  margin-left: -15px;
}

.solid-btn {
  border: none;
  background-color: #8eb680;
  color: white;
  transition: 200ms;
}

.solid-btn:hover {
  transition: 200ms;
  color: var(--hover-yellow);
  background-color: var(--mid-green);
}

.solid-btn:disabled {
  background-color: var(--disabled-gray);
  color: white;
}

.outline-btn {
  border: 1px solid #8eb680;
  color: #8eb680;
  background-color: white;
  transition: 200ms;
}

.outline-btn:hover {
  transition: 200ms;
  border-color: var(--hover-yellow);
  color: var(--hover-yellow);
}

.outline-btn:disabled {
  border-color: var(--disabled-gray);
  color: var(--disabled-gray);
}

.icon-btn {
  margin: 0;
  font-family: "Material Icons";
  font-size: 24px;
  border: none;
  background: none;
  color: var(--dark-green);
  transition: 200ms;
}

.icon-btn:hover {
  transition: 200ms;
  color: var(--hover-yellow);
}

.edit-btn {
  padding: none;
  border: none;
  background: none;
  font-size: 16px;
  margin-left: 20px;
  color: rgb(168, 182, 168);
  font-family: "Material Icons";
  transition: 200ms;
}

.edit-btn:hover {
  transition: 200ms;
  cursor: pointer;
  color: var(--hover-yellow);
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-label {
  text-align: start;
  margin: 5px;
}

