:root {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --dark-green: #3b5632;
  --mid-green: #5A7351;
  --light-green: #DCE3D9;
  --hover-yellow: #ebc446;

  color: var(--dark-green);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0
}

input, textarea, button {
  font-family: "Raleway", sans-serif;
}


