:root {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* box-sizing: border-box; */

  --dark-green: #3b5632;
  --mid-green: #94b888;
  --light-green: #dce3d9;
  --hover-yellow: #ebc446;
  --disabled-gray: #b9b9b9;

  color: var(--dark-green);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  min-height: 100%;
  background: linear-gradient(
      0deg,
      rgba(222, 230, 219, 0.5),
      rgba(251, 255, 249, 0.70),
      rgba(255, 255, 255, 0.85)
    ),
    url("./assets/backgroundimg/4879447.jpg");
  background-size: cover;
}

body {
  margin: 0;
  min-height: 100%;
}

input,
textarea,
button {
  font-family: "Raleway", sans-serif;
}