.label_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.submitting, .error {
    margin-top: 15px;
}

.error {
    color: rgb(185, 39, 39);
    font-size: 14px;
}